<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net48" />
  <package id="Google.Api.CommonProtos" version="2.3.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.15.8" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net48" />
  <package id="Syncfusion.Compression.Net.Core" version="19.2.0.47" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="19.2.0.47" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net48" />
</packages>